<wa-badge style="font-size: var(--wa-font-size-s); background-color: var(--wa-color-<%= grouping.color %>-90);">
  <%= grouping.color.titleize %></wa-badge>
<wa-input name="grouping[common_thread]" value="<%= grouping.common_thread %>"
  form="<%= "edit_#{@puzzle.id}_#{grouping.id}" %>" size="s" style="width: 25ch;"></wa-input>
<wa-input name="grouping[word_1]" value="<%= grouping.word_1 %>"
  form="<%= "edit_#{@puzzle.id}_#{grouping.id}" %>" size="s" style="width: 20ch;"></wa-input>
<wa-input name="grouping[word_2]" value="<%= grouping.word_2 %>"
  form="<%= "edit_#{@puzzle.id}_#{grouping.id}" %>" size="s" style="width: 20ch;"></wa-input>
<wa-input name="grouping[word_3]" value="<%= grouping.word_3 %>"
  form="<%= "edit_#{@puzzle.id}_#{grouping.id}" %>" size="s" style="width: 20ch;"></wa-input>
<wa-input name="grouping[word_4]" value="<%= grouping.word_4 %>"
  form="<%= "edit_#{@puzzle.id}_#{grouping.id}" %>" size="s" style="width: 20ch;"></wa-input>
<div>
  <%= submit_tag "Submit", form: "edit_#{@puzzle.id}_#{grouping.id}" %>
  <%= link_to "Nevermind", puzzle_path(@puzzle), class: "wa-font-weight-bold wa-body-m wa-link-plain" %>

  <%= form_with(model: [@puzzle, grouping], id: "edit_#{@puzzle.id}_#{grouping.id}", style: "display: none;") do |form| %>
    <% if grouping.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(grouping.errors.count, "error") %> prohibited this grouping from being saved:</h2>

        <ul>
          <% grouping.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
