<%= form_with(model: grouping) do |form| %>
  <% if grouping.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(grouping.errors.count, "error") %> prohibited this grouping from being saved:</h2>

      <ul>
        <% grouping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :puzzle_id, style: "display: block" %>
    <%= form.text_field :puzzle_id %>
  </div>

  <div>
    <%= form.label :common_thread, style: "display: block" %>
    <%= form.text_field :common_thread %>
  </div>

  <div>
    <%= form.label :color, style: "display: block" %>
    <%= form.select :color, Grouping.colors.keys.map { |color| [color.capitalize, color] } %>
  </div>

  <div>
    <%= form.label :word_1, style: "display: block" %>
    <%= form.text_field :word_1 %>
  </div>

  <div>
    <%= form.label :word_2, style: "display: block" %>
    <%= form.text_field :word_2 %>
  </div>

  <div>
    <%= form.label :word_3, style: "display: block" %>
    <%= form.text_field :word_3 %>
  </div>

  <div>
    <%= form.label :word_4, style: "display: block" %>
    <%= form.text_field :word_4 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
