<div id="<%= dom_id grouping %>">

  <div class="wa-stack">

    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Puzzle:</strong>
      </div>
      <div>
        <%= grouping.puzzle_id %>
      </div>
    </div>

    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Common thread:</strong>
      </div>
      <div>
        <%= grouping.common_thread %>
      </div>
    </div>

    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Color:</strong>
      </div>
      <div>
        <%= grouping.color %>
      </div>
    </div>

    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Word 1:</strong>
      </div>
      <div>
        <%= grouping.word_1 %>
      </div>
    </div>

    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Word 2:</strong>
      </div>
      <div>
        <%= grouping.word_2 %>
      </div>
    </div>

    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Word 3:</strong>
      </div>
      <div>
        <%= grouping.word_3 %>
      </div>
    </div>

    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Word 4:</strong>
      </div>
      <div>
        <%= grouping.word_4 %>
      </div>
    </div>
  </div>
</div>
