<div id="<%= dom_id grouping %>">
  <div>
    <strong>Puzzle:</strong>
    <%= grouping.puzzle_id %>
  </div>

  <div>
    <strong>Common thread:</strong>
    <%= grouping.common_thread %>
  </div>

  <div>
    <strong>Word 1:</strong>
    <%= grouping.word_1 %>
  </div>

  <div>
    <strong>Word 2:</strong>
    <%= grouping.word_2 %>
  </div>

  <div>
    <strong>Word 3:</strong>
    <%= grouping.word_3 %>
  </div>

  <div>
    <strong>Word 4:</strong>
    <%= grouping.word_4 %>
  </div>

</div>
