<%= form_with(model: guess) do |form| %>
  <% if guess.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guess.errors.count, "error") %> prohibited this guess from being saved:</h2>

      <ul>
        <% guess.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.text_field :game_id %>
  </div>

  <div>
    <%= form.label :words, style: "display: block" %>
    <%= form.text_field :words %>
  </div>

  <div>
    <%= form.label :grouping_id, style: "display: block" %>
    <%= form.text_field :grouping_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
