<div id="<%= dom_id guess %>">
  <div>
    <strong>Game:</strong>
    <%= guess.game_id %>
  </div>

  <div>
    <strong>Word 1:</strong>
    <%= guess.word_1 %>
  </div>

  <div>
    <strong>Word 2:</strong>
    <%= guess.word_2 %>
  </div>

  <div>
    <strong>Word 3:</strong>
    <%= guess.word_3 %>
  </div>

  <div>
    <strong>Word 4:</strong>
    <%= guess.word_4 %>
  </div>

  <div>
    <strong>Grouping:</strong>
    <%= guess.grouping_id %>
  </div>

</div>
