<div id="<%= dom_id game %>">

  <div>
    <strong>User:</strong>
    <%= game.user_id %>
  </div>

  <div>
    <strong>Puzzle:</strong>
    <%= game.puzzle_id %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= game.status %>
  </div>

  <div class="wa-stack wa-align-items-center">
    <span>Create groups of four!</span>
    <div class="wa-grid" style="grid-template-columns: repeat(4, 1fr);">
      <% 16.times do |i| %>
        <div><%= i.to_s %></div>
      <% end %>
    </div>
    <span>Mistakes remaining</span>
    <span>Three Buttons</span>
  </div>
</div>
