<div id="<%= dom_id game %>">

  <div>
    <strong>User:</strong>
    <%= game.user_id %>
  </div>

  <div>
    <strong>Puzzle:</strong>
    <%= game.puzzle_id %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= game.status %>
  </div>

  <div data-controller="selection" >
    <button data-action="click->selection#toggle_appearance">Do something</button>
    <div>
      <span>Output goes here...</span>
      <span data-selection-target="output" type="text"></span>
    </div>
  </div>
 
  <div class="wa-stack wa-align-items-center">
    <span>Create groups of four!</span>
    <div class="wa-grid" style="grid-template-columns: repeat(4, 1fr);">
      <% 16.times do |i| %>
        <wa-card>
          <%= @words[i] %>
        </wa-card>
      <% end %>
    </div>
    <span>Mistakes remaining</span>
    <span>Three Buttons</span>
  </div>
</div>
