<%= turbo_frame_tag puzzle do %>
  <%= form_with(model: puzzle) do |form| %>
    <% if puzzle.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(puzzle.errors.count, "error") %> prohibited this puzzle from being saved:</h2>

        <ul>
          <% puzzle.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="wa-stack">
      <div class="wa-flank wa-gap-s label-on-left">
        <wa-input size="s" name="puzzle[name]" value="<%= puzzle.name %>" label="Name"></wa-input>
        <%# form.label :name %>
        <%# form.text_field :name %>
      </div>

      <div class="wa-flank wa-gap-s label-on-left">
        <wa-input size="s" name="puzzle[puzzle_number]" value="<%= puzzle.puzzle_number %>" label="Puzzle Number"></wa-input>
        <%# form.label :puzzle_number %>
        <%# form.number_field :puzzle_number %>
      </div>

      <div class="wa-cluster">
        <%= form.label :published_on, style: "display: block" %>
        <%= form.date_field :published_on %>
      </div>

      <div>
        <%= form.label :submitted_by, style: "display: block" %>
        <%= form.text_field :submitted_by %>
      </div>

      <div>
        <%= form.label :locked, "Locked?", style: "display: block" %>
        <%= form.check_box :locked %>
      </div>

      <div>
        <%= form.label :hint, style: "display: block" %>
        <%= form.rich_text_area :hint %>
      </div>

      <div class="wa-cluster wa-gap-3xs">
        <%= form.submit %>
        <wa-button href="<%= puzzle_path(puzzle) %>">Nevermind</wa-button>
      </div>
    </div>
  <% end %>
<% end %>
