<div id="<%= dom_id puzzle %>">
  <div>
    <strong>Puzzle number:</strong>
    <%= puzzle.puzzle_number %>
  </div>

  <div>
    <strong>Published on:</strong>
    <wa-format-date month="long" day="numeric" year="numeric"><%= puzzle.published_on %></wa-format-date><br>
  </div>

  <div>
    <strong>Name:</strong>
    <%= puzzle.name %>
  </div>

  <div>
    <strong>Submitted by:</strong>
    <%= puzzle.submitted_by %>
  </div>

  <div>
    <strong>Locked:</strong>
    <%= puzzle.locked ? "Yup" : "Nope" %>
  </div>

  <div>
    <strong>Hint:</strong>
    <%= puzzle.hint %>
  </div>

</div>
