<div id="<%= dom_id puzzle %>">

  <div class="wa-stack">
    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Puzzle name:</strong>
      </div>

      <div>
        <%= puzzle.name %>
      </div>
    </div>

    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Puzzle number:</strong>
      </div>

      <div>
        <%= puzzle.puzzle_number %>
      </div>
    </div>

    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Published on:</strong>
      </div>

      <div>
        <wa-format-date month="long" day="numeric" year="numeric"><%= puzzle.published_on %></wa-format-date><br>
      </div>
    </div>

    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Submitted by:</strong>
      </div>

      <div>
        <%= puzzle.submitted_by %>
      </div>
    </div>

    <div class="wa-flank" style="--flank-size: 200px;">
      <div>
        <strong>Locked:</strong>
      </div>

      <div>
        <%= puzzle.locked ? "Yup" : "Nope" %>
      </div>
    </div>

    <div>
      <strong>Hint:</strong>
      <%= puzzle.hint %>
    </div>

  </div>
</div>
