<div id="<%= dom_id puzzle %>">
  <div>
    <strong>Puzzle number:</strong>
    <%= puzzle.puzzle_number %>
  </div>

  <div>
    <strong>Published on:</strong>
    <%= puzzle.published_on %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= puzzle.name %>
  </div>

  <div>
    <strong>Submitted by:</strong>
    <%= puzzle.submitted_by %>
  </div>

</div>
