<p style="color: green"><%= notice %></p>

<% content_for :title, "Puzzles" %>

<h1>Puzzles</h1>

<div id="puzzles">
  <div class="wa-grid" style="grid-template-columns: repeat(5, 1fr);">
    <span class="wa-font-weight-bold">No.</span>
    <span class="wa-font-weight-bold">Title</span>
    <span class="wa-font-weight-bold">Created by</span>
    <span class="wa-font-weight-bold">Submitted on</span>
    <div></div>
    <% @puzzles.each do |puzzle| %>
      <span><%= puzzle.puzzle_number %></span>
      <span><%= puzzle.name.humanize %></span>
      <span><%= puzzle.submitted_by %></span>
      <span><wa-format-date date="<%= puzzle.published_on %>" month="long" day="numeric" year="numeric"></wa-format-date></span>
      <div>
        <%= link_to "View", puzzle, class: "wa-link-plain" %>
        <%= link_to "Delete", puzzle, class: "wa-link-plain", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <%= button_to "Play!", games_path, params: { "game[puzzle_id]": puzzle.id, "game[user_id]": Current.user.id,
          "game[status]": :in_progress } %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to new_puzzle_path do %><wa-tag variant="success" size="s" pill>Create puzzle</wa-tag><% end -%>
