<p style="color: green"><%= notice %></p>

<div class="wa-stack wa-gap-m">
  <%= turbo_frame_tag @puzzle do %>
    <%= render @puzzle %>
    <%= link_to "Edit this puzzle", edit_puzzle_path(@puzzle) %>
  <% end %>

  <span class="wa-heading-l">Groupings</span>
  <% @puzzle.groupings.each do |grouping| %>
    <%= render grouping %>
  <% end %>

  <div>
    <%= link_to "Edit this puzzle", edit_puzzle_path(@puzzle) %> |
    <%= link_to "Back to puzzles", puzzles_path %>

    <%= button_to "Destroy this puzzle", @puzzle, method: :delete %>
  </div>

</div>
